@model List<NaturePlanetSolutionCore.ViewComponents.CategoryMenuViewComponent.CategoryViewModel>

<ul class="navbar-nav category-menu">
    @foreach (var category in Model)
    {
        <li class="nav-item dropdown">
            <a class="nav-link text-white" asp-controller="Products" asp-action="Index" asp-route-category="@category.Name">@category.Name</a>

            @if (category.Subcategories.Any())
            {
                <ul class="dropdown-menu">
                    @foreach (var sub in category.Subcategories)
                    {
                        <li class="dropdown-subitem">
                            <a class="dropdown-item"
                               asp-controller="Products"
                               asp-action="Index"
                               asp-route-category1="@category.Name"
                               asp-route-category2="@sub.Name">
                                @sub.Name
                            </a>

                            @if (sub.SubSubcategories.Any())
                            {
                                <ul class="dropdown-submenu">
                                    @foreach (var subsub in sub.SubSubcategories)
                                    {
                                        <li>
                                            <a class="dropdown-item"
                                               asp-controller="Products"
                                               asp-action="Index"
                                               asp-route-category1="@category.Name"
                                               asp-route-category2="@sub.Name"
                                               asp-route-category3="@subsub">
                                                @subsub
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>