@model DataTransferLayer.Model.Product


<a class="product-category-1">@Model.Product_Category_1</a> > <a class="product-category-2">@Model.Product_Category_2</a> > <a class="product-category-3">@Model.Product_Category_3</a> 
<h1 class="product-name">@Model.Name</h1>

<p class="product-ean">@Model.EAN</p>

